* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    transition: .5s;
}

.app {
    width: 100%;
    min-height: 100vh;
    background: #47f347;
    padding: 20px;
}

.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.notes-container .add-box {
    background: #fff;
    width: 320px;
    height: 320px;
    max-width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
    box-shadow: 0 12px 15px rgba(0, 0, 0, .2);
}

.notes-container .add-box .add-icon {
    width: 30%;
    height: 30%;
    border: 2px dotted #ccc;
    display: grid;
    place-content: center;
    border-radius: 50%;
    font-size: 30px;
    color: #1b2c2c;
    line-height: 0;
}

.notes-container .add-box p {
    font-size: 20px;
    color: #1b2c2c;
}

/* Modal */
.modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.modal-container.show-modal {
    opacity: 1;
    pointer-events: auto;
}

/* Modal close btn */
.modal-container .modal .close-modal {
    font-size: 20px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
    background: #45f;
    color: #fff;
    display: grid;
    place-content: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.modal-container .modal .close-modal:active {
    transform: scale(.95);
}

.modal-container .modal {
    max-width: 100%;
    background: #fff;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
    transform: translateY(-150%);
    opacity: 0;
    position: relative;
    transition: .5s;
}

.modal-container.show-modal .modal {
    transform: none;
    opacity: 1;
}

.modal-container .modal h1, h2 {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 5px;
}

.modal-container .modal .header {
    width: 320px;
    max-width: 100%;
    margin-bottom: 20px;
}

.modal-container .modal .header input {
    width: 100%;
    padding: 10px;
    border: 2px solid darkslategrey;
    border-radius: 5px;
    transition: .5s;
    outline: none;
}

.modal-container .modal .header input:focus {
    border-color: #ccc;
}

.modal-container .modal-content {
    width: 320px;
    max-width: 100%;
}

.modal-container .modal-content h2 {
    font-size: 20px;
}

.modal-container .modal-content textarea {
    width: 100%;
    height: 150px;
    max-width: 100%;
    border: 2px solid darkslategrey;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    transition: .5s;
    resize: none;
}


.modal-container .modal-content textarea:focus,
.modal-container .modal-content textarea:valid {
    border-color: #ccc;
}

.modal-container .modal .add-btn {
    width: 320px;
    max-width: 100%;
}

.modal-container .modal .add-btn button {
    width: 100%;
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #eee;
    color: #fff;
    cursor: pointer;
}

.modal-container .modal .add-btn button:active {
    transform: scale(.99);
}
/* 
@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
} */

/* Notes Styling */
.notes-container .notes {
    width: fit-content;
    max-width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 12px 15px rgba(0, 0, 0, .2);
    overflow: hidden;
}

.notes-container .notes .notes-content {
    width: 300px;
    max-width: 100%;
}

.notes-container .notes .notes-content .title {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 10px;
    margin-top: 5px;
    border-bottom: 2px solid #ccc;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notes-container .notes .notes-content .description {
    font-size: 17px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 200px;
    height: 200px;
    overflow-y: auto;
}

.notes-container .notes .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
    background: #fff;
}

.notes-container .notes .details .date {
    color: grey;
    font-style: italic;
}

.notes-container .notes .details .elipsis {
    font-size: 25px;
    font-weight: 600;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: .2s;
    cursor: pointer;
}

.notes-container .notes .details .elipsis:hover {
    background: rgb(230, 230, 230);
}

.notes-container .notes .details .elipsis:active {
    transform: scale(.91);
    user-select: none;
}

.notes-container .notes .details .elipsis p {
    margin-top: -10px;
}

.notes-container .notes .details .menu-container {
    position: relative;
}

.notes-container .notes .details .menu-container.show-menu .menu {
    transform: scale(1);
}

.notes-container .notes .details .menu {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 1cqh;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 140px;
    transition: .3s;
    transform-origin: bottom right;
    transform-style: preserve-3d;
    transform: scale(0);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.48);
}

.notes-container .notes .details .menu p {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    transition: .2s;
    cursor: pointer;
}

.notes-container .notes .details .menu p:hover {
    background: rgb(230, 230, 230);;
}


@media (max-width: 700px) {

    .app {
        padding-bottom: 200px;
    }

    .modal {
        width: 90%;

        & .header {
            width: 100% !important;

            & h1 {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        & .modal-content {
            width: 100%;
        }

        & .add-btn {
            width: 100% !important;
        }
    }

    .add-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        left: 0;
        height: 100px;
        box-shadow: -1px -10 20px rgba(0, 0, 0, .2);
        z-index: 100;

        & .add-box{
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background: #47f347;
            position: absolute;
            top: -55%;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: none;

            & .add-icon {
                width: 85%;
                height: 85%;
                border: none;
                background: #fff;
                font-size: 50px;
                color: #47f347;
            }

            & p {
                display: none;
            }
        }

        & .add-box::before {
            content: '';
            width: 50px;
            height: 40px;
            position: absolute;
            left: -49px;
            border-top-right-radius: 50%;
            box-shadow: 10px -10px 3px #47f347;
            bottom: 34px;
        }

        & .add-box::after {
            content: '';
            width: 50px;
            height: 40px;
            position: absolute;
            right: -49px;
            border-top-left-radius: 50%;
            box-shadow: -10px -10px 3px #47f347;
            bottom: 34px;
        }
    }

    .add-container::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 20px;
        background: #47f347;
        top: -20px;
    }

    .notes-container .notes {
        width: 100%;
        height: 400px;
        padding: 20px;

        .notes-content {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;

        .title {
                padding-bottom: 20px;
            }
        }

        & .details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            bottom: 0;
            width: 93%;
            background: #fff;
        }
    }

}

@media (max-width: 400px) {
    .add-box{
        width: 100px;
        height: 100px;
    }
}
